
$verdeSuave      : #A4CDAB;
$laranja         : #FF6100;
$laranjaSuave    : #FE9E62;
$bege            : #F2DDD0;
$vemelhoProfundo : #B82303;


.background-nav-verdeSuave{
  background-color: $verdeSuave !important
}

.background-nav-laranja{
  background-color: $laranja !important
}

.background-nav-bege{
  background-color: $bege !important
}

.background-nav-vemelhoProfundo{
  background-color: $vemelhoProfundo !important
}


.tamanho{
  margin: 40px;

}
